* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Instrument Sans", sans-serif;
}

body {
    height: 100vh;
}
/* please use rem & vh as units  */

/* nav starts here */

/* nav ends here  */

/* section1 starts here  */
/* use flexbox */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.hero-text {
    width: 100%;
    min-height: 20vh;
    /* background-color: turquoise; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    gap: 3vh;
    position: absolute;
    z-index: 1;
    color: white;
    font-weight: 600;
    text-shadow: 0.2rem 0.2rem 0.5rem black;
}
#sub-p {
    font-size: 2rem;
    text-shadow: 0.2rem 0.2rem 0.5rem black;
    font-weight: 400;
}
.back-video {
    height: 70vh;
    min-width: 100%;
    overflow: hidden;
    z-index: 0;
    display: block;
    top: 20vh;
    object-fit: cover;
}
.hero-text button {
    min-width: 10rem;
    min-height: 4rem;
    background: none;
    border: white 0.3rem solid;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    text-shadow: 0.2rem 0.2rem 0.5rem black;
}
.div-aside-container {
    display: flex;
    justify-content: space-between;
}
.posts-container {
    width: 80%;
}
h2 {
    font-size: 2rem;
    padding-top: 2rem;
}
h3 {
    padding-top: 2rem;
}
.blue {
    height: 0.2rem;
    background-color: black;
}
.post {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.post span {
    display: flex;
    font-size: 1.1rem;
    padding-top: 2rem;
    gap: 4rem;
    max-height: 20rem;
    overflow: hidden;
}
.post-img {
    max-width: 30%;
    min-width: 30%;
    min-height: auto;
    overflow: hidden;
    object-fit: cover;
}

/* section1 ends here  */

/* section2 starts here  */
/* use flexbox */

/* section2 ends here  */

/* footer starts here  */

/* footer ends here  */
