* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Instrument Sans", sans-serif;
}

body {
    height: 100vh;
}

/* nav starts here */

/* nav ends here  */

/* main starts here  */

/* main ends here  */

/* footer starts here  */

/* footer ends here  */
